.navbar-vertical.collapsed {
    width: 70px;
}

.navbar-vertical.collapsed .nav-link-text-wrapper,
.navbar-vertical.collapsed .navbar-vertical-label,
.navbar-vertical.collapsed .navbar-vertical-line {
    display: none !important;
}

.navbar-vertical.collapsed .navbar-vertical-footer-text {
    display: none;
}

.navbar-vertical.collapsed .toggle-icon {
    display: inline-block; 
}
.navbar-vertical.collapsed .navbar-vertical-footer {
    border: none !important;
    box-shadow: none !important;
}

.navbar-vertical-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-vertical:not(.collapsed) ~ main {
    margin-left: 250px;
}

.navbar-vertical.collapsed ~ main {
    margin-left: 60px;
}

.navbar-vertical,
.navbar-vertical ~ main {
    transition: all 0.3s ease;
}
