[data-bs-theme="light"] #navbarDefault {
    background-color: #556574;
}

[data-bs-theme="dark"] #navbarDefault {
    background-color: #2c323f;
}

[data-bs-theme="light"] .nav-link.active,
[data-bs-theme="light"] .nav-link.active .fa,
[data-bs-theme="light"] .nav-link.active .nav-link-text {
    color: #f1c40f;
    font-weight: bold;
}

.card-body canvas {
    width: 100% !important;
    height: 250px !important;
}