[data-bs-theme="light"] nav {
    background-color: #f8f9fa;
    color: #212529;
}

[data-bs-theme="dark"] nav.border-end {
    background-color: #141824;
}

[data-bs-theme="dark"] .nav-link {
    color: #9fa6bc;
}

[data-bs-theme="light"] .nav-link {
    color: #525b75;
}

[data-bs-theme="light"] #navbarDefault {
    background-color: #222834;
}

[data-bs-theme="dark"] #navbarDefault {
    background-color: #222834;
}

[data-bs-theme="dark"] #navbarDefault .navbar-brand,
[data-bs-theme="dark"] #navbarDefault .text-white {
    color: #f8f9fa; 
}

.nav-link {
    color: #2a2f36;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 0.5rem;
    display: block;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.nav-link:hover {
    background-color: var(--estoque-secondary-bg);
}

[data-bs-theme="light"] .nav-link.active,
[data-bs-theme="light"] .nav-link.active .fa,
[data-bs-theme="light"] .nav-link.active .nav-link-text {
    color: #f1c40f;
    font-weight: bold;
}

[data-bs-theme="dark"] .nav-link.active,
[data-bs-theme="dark"] .nav-link.active .fa,
[data-bs-theme="dark"] .nav-link.active .nav-link-text {
    color: white;
    font-weight: bold;
}
#navbarDropdownNindeDots:hover,
#navbarDropdownNindeDots:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}
[data-bs-theme="light"] .sidebar-section-title {
    color: #525b75; 
}

[data-bs-theme="dark"] .sidebar-section-title {
    color: #ccc; 
}