Vitor da Silva<vitoroll696@gmail.com> Emb-SuporteTI04 <vitoroll696@gmail.com>
Vitor da Silva <vitoroll696@gmail.com> VitorDaSilvaOliveira <vitoroll696@gmail.com>
Vitor da Silva <vitoroll696@gmail.com> Vitor da Silva Oliveira <vitoroll696@gmail.com>

Beatriz Muniz <beatriz.muniz@jjconsulting.com.br> beatriz.muniz <beatriz.muniz@jjconsulting.com.br>
Beatriz Muniz <beatriz.muniz@jjconsulting.com.br> Beatriz Muniz de Barros <72519421+beamuniz@users.noreply.github.com>

Khalil Khalid <khalilkma757.khalid@gmail.com> Khalilkma <147070933+Khalilkma@users.noreply.github.com>
Khalil Khalid <khalilkma757.khalid@gmail.com> khalil khalid <khalilkma757.khalid@gmail.com>

Rafael Valverde <r.valverde@aluno.ifsp.edu.br> Snake <r.valverde@aluno.ifsp.edu.br>
Rafael Valverde <r.valverde@aluno.ifsp.edu.br> RValverdeZS <r.valverde@aluno.ifsp.edu.br>

Gean Carlos <gean0606@hotmail.com> Gean <gean0606@hotmail.com>
Gean Carlos <gean0606@hotmail.com> Gean Carlos de Sousa Bandeira <60990296+geanbandeira@users.noreply.github.com>

Marcelo Flores <marcelo_florespss@hotmail.com> Marcelo <marcelo_florespss@hotmail.com>

Matheus Prando <matheusprandoappolinario@gmail.com> Matheus Prando Appolinario Barbosa <matheusprandoappolinario@gmail.com>
