<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="light">
<partial name="_HeadPartial"/>
@await RenderSectionAsync("Stylesheets", required: false)
<body>
<partial name="_NavbarPartial"/>

<div class="d-flex" style="min-height: 100vh; padding-top: 56px;">
    <partial name="_SidebarPartial"/>
        
    <main class="flex-grow-1 p-4" style="margin-left: 250px; padding-top: 56px;">
        @RenderBody()
    </main>
</div>

<partial name="_ScriptsPartial"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>