.pagination-jump-to-page-button{
  display: none !important;
}

.field-validation-error span {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 75%;
  color: var(--estoque-form-invalid-color);
}

.table{
  font-size:0.8rem !important  
}

.validation-summary-errors{
  font-size: 75%;
  color: var(--estoque-form-invalid-color);
}

.jj-list-group{
  font-size: 0.8rem;
}

.nav-link.disabled{
  pointer-events: auto !important;
}

.admin-menu{
  width: 18rem;
}

nav.fix-menu{
  padding-right: 2.5rem !important;
  padding-left: 1.9rem !important;
}
nav.fix-menu .navbar-logo {
  padding-right: 11.5rem !important;
}
.form-select:disabled{
  background-color: var(--estoque-secondary-bg) !important;
  color: var(--estoque-quaternary-color) !important;
}

.padding-start-zero{
  padding-left: 0;
}

.nav-link:focus-visible {
  box-shadow: none; //fix safari layout
}

.modal{
  --estoque-modal-bg: var(--estoque-body-bg) !important;
}