#notification-bell-circle {
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}

.notification-list {
  max-height: 75vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .notification-list {
    max-height: 40vh;
  }
}

@media (max-width: 480px) {
  .notification-list {
    max-height: 100vh;
  }
}
