.pagination-jump-to-page-button {
  display: none !important;
}

.field-validation-error span {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 75%;
  color: var(--estoque-form-invalid-color);
}

.table {
  font-size: 0.8rem !important;
}

.validation-summary-errors {
  font-size: 75%;
  color: var(--estoque-form-invalid-color);
}

.jj-list-group {
  font-size: 0.8rem;
}

.nav-link.disabled {
  pointer-events: auto !important;
}

.admin-menu {
  width: 18rem;
}

nav.fix-menu {
  padding-right: 2.5rem !important;
  padding-left: 1.9rem !important;
}

nav.fix-menu .navbar-logo {
  padding-right: 11.5rem !important;
}

.form-select:disabled {
  background-color: var(--estoque-secondary-bg) !important;
  color: var(--estoque-quaternary-color) !important;
}

.padding-start-zero {
  padding-left: 0;
}

.nav-link:focus-visible {
  box-shadow: none;
}

.modal {
  --estoque-modal-bg: var(--estoque-body-bg) !important;
}

#notification-bell-circle {
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.notification-list {
  max-height: 75vh;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .notification-list {
    max-height: 40vh;
  }
}
@media (max-width: 480px) {
  .notification-list {
    max-height: 100vh;
  }
}
.img-flag {
  width: 20px;
  height: auto;
}

@media (max-width: 350px) {
  .hide-on-xs {
    display: none !important;
  }
}
.language-small-only {
  display: none !important;
}

@media (max-width: 350px) {
  .language-small-only {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.content-iframe {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  padding: calc(var(--md-sticky-top-height)) 0 0 0 !important;
}

.nav-link-top-level {
  color: var(--estoque-navbar-top-dropdown-color) !important;
}

.nav-link-text,
.nav-link {
  font-size: 0.813rem;
}

.sub-folder > ul > .nav-item {
  padding-left: 1.5rem;
}

.sub-folder .nav-item:last-child > .nav-link {
  margin-left: 0.7rem;
}

.menu-search-indicator {
  display: none;
}

.htmx-request .menu-search-indicator {
  display: inline;
}

.htmx-request.menu-search-indicator {
  display: inline;
}

.nav-link.horizontal-active {
  background-color: rgba(var(--estoque-primary-rgb), 0.25);
}

.menu-item-link {
  padding: 0.75rem;
}

.menu-item-link:hover {
  color: var(--estoque-primary) !important;
  background-color: var(--estoque-navbar-vertical-link-hover-bg);
  border-radius: 1.5rem;
}

#customer-logo {
  cursor: pointer;
}

#infinity-logo {
  width: 200px;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}

.account-settings .about {
  text-align: center;
}

.account-settings .about h5 {
  margin: 0 0 15px 0;
}

.account-settings .about p {
  font-size: 0.825rem;
}

.user-avatar:hover {
  cursor: pointer;
  opacity: 0.5;
}

.clickable-card {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.clickable-card:hover {
  transform: scale(0.95);
}

#number {
  font-size: 200px;
  font-weight: bold;
  color: var(--estoque-primary);
  position: relative;
  display: inline-block;
}

.tr-indicator {
  display: none;
}

.htmx-request .tr-indicator {
  display: table-row;
}

.htmx-request.tr-indicator {
  display: table-row;
}

.menu-editor-card {
  min-height: 650px;
  max-height: 650px;
  overflow: scroll;
}

/*# sourceMappingURL=infinity.css.map */
