@using System.Security.Claims
@using Estoque.Domain.Entities
@using Estoque.Infrastructure.Utils
@using Microsoft.AspNetCore.Identity
@using Estoque.Lib.Resources
@using Microsoft.Extensions.Localization
@inject UserManager<ApplicationUser> UserManager
@inject IStringLocalizer<EstoqueResources> Localizer

@{
    ViewBag.Title = Localizer["DashboardPedidos"];
}
<h3 style="text-align: left;">
    <i class="fas fa-tachometer-alt" style="margin-right: 0.5rem;"></i>
    @Localizer["DashboardPedidos"]
</h3>
<div style="max-width: 600px; margin-left: 0; padding: 1rem;">

    <canvas id="graficoPedidos" width="400" height="200"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/dashboardpedidos.js" asp-append-version="true"></script>