@page

@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/flatly/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>

</head>
<body>

<div class="D-flex JC-center ALITEM-center HEIGHT-100vh">
    <!-- Formulário de login -->
    <div id="left-box" class="caixa-esquerda D-flex FD-column ALITEM-center HEIGHT-100vh">
        <div style="margin-top: 10%;">
            <img src="~/img/logo.jpg" alt="Logo" width="100" height="100"/>
        </div>
        <div class="formulario-login D-flex JC-center ALITEM-center PADDING-B20">
            <form method="post" action="/Login/Entrar" class="D-flex FD-column JC-flex-start HEIGHT-60 WIDTH-100">
                <div class="mb-3">
                    <label for="usuario-input" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="usuario-input" name="Usuario" required/>
                </div>
                <div class="mb-3">
                    <label for="senha-input" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha-input" name="Senha" required/>
                </div>
                <div class="D-flex JC-space-between WIDTH-100 mt-3">
                    <a href="/Login/EsqueceuSenha">Esqueceu sua senha?</a>
                    <button type="submit" class="btn BGC-azul-2 COLOR-white WIDTH-25 BORRAD-5 BGC-H-azul-1">Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Imagem lateral -->
    <div id="right-box" class="caixa-direita">
        <img src="~/img/prateleiras-galpao.jpg" class="HEIGHT-100 WIDTH-100" style="opacity: 0.8;" alt="Imagem Galpão"/>
    </div>
</div>

</body>
</html>
