@model Estoque.Domain.Models.UserViewModel

@{
    ViewData["Title"] = "Novo Usuário";
}

<div class="border-bottom pb-2 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "User", new { area = "Admin" })">Gerenciador de Usuários</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Novo Usuário</li>
        </ol>
    </nav>
</div>

<div class="mt-3 pb-2 mb-2 border-bottom d-flex justify-content-between">
    <h3>
        <span class="fa fa-user-plus"></span> Novo Usuário
        <small class="sub-title"></small>
    </h3>
</div>

<form asp-action="CreateUser" method="post" novalidate>
    @Html.AntiForgeryToken()

    <div class="mb-3 text-start">
        <label asp-for="UserName" class="form-label">Nome do Usuário <span class="required-symbol">*</span></label>
        <input asp-for="UserName" class="form-control" autocomplete="username" placeholder="Nome do Usuário" />
        <span asp-validation-for="UserName" class="text-danger small"></span>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label">Nome <span class="required-symbol">*</span></label>
            <input asp-for="FirstName" class="form-control" placeholder="Nome" />
            <span asp-validation-for="FirstName" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="form-label">Sobrenome <span class="required-symbol">*</span></label>
            <input asp-for="LastName" class="form-control" placeholder="Sobrenome" />
            <span asp-validation-for="LastName" class="text-danger small"></span>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label asp-for="Email" class="form-label">Email <span class="required-symbol">*</span></label>
            <input asp-for="Email" class="form-control" autocomplete="username" placeholder="exemplo@email.com.br" />
            <span asp-validation-for="Email" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="PhoneNumber" class="form-label">Número de Telefone</label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="99 99999-9999" maxlength="19" />
            <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label asp-for="Password" class="form-label">Senha <span class="required-symbol">*</span></label>
            <input asp-for="Password" type="password" class="form-control password-validation" autocomplete="new-password" placeholder="Senha" />
            <span asp-validation-for="Password" class="text-danger small"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConfirmPassword" class="form-label">Confirme sua senha <span class="required-symbol">*</span></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="new-password" placeholder="Confirme sua senha" />
            <span asp-validation-for="ConfirmPassword" class="text-danger small"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-info mb-3">Salvar</button>
</form>

@await Html.PartialAsync("_Error")

@await Html.PartialAsync("_Success")


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}