@model EditUserViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

<div class="border-bottom pb-2 mb-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "User", new { area = "Admin" })">
                    Gerenciador de Usuários
                </a>
            </li>
            <li class="breadcrumb-item">
                @Model.FirstName @Model.LastName
            </li>
            <li class="breadcrumb-item active">
                Redefinir Senha
            </li>
        </ol>
    </nav>
</div>

<div class="row mt-4">
    <div class="col-sm-6 mb-3">
        <div class="form-floating">
            <input type="password" class="form-control password-validation" id="NewPassword" name="NewPassword"
                   placeholder="" data-val="true" data-val-required="O campo Nova Senha é obrigatório.">
            <label for="NewPassword">Nova Senha</label>
        </div>
    </div>

    <div class="col-sm-6 mb-3">
        <div class="form-floating">
            <input type="password" class="form-control" id="NewPasswordConfirmation" name="NewPasswordConfirmation"
                   placeholder=""
                   data-val="true"
                   data-val-equalto="A senha e a confirmação devem ser iguais."
                   data-val-equalto-other="*.NewPassword"
                   data-val-required="O campo Confirmação da Nova Senha é obrigatório.">
            <label for="NewPasswordConfirmation">Confirmação da Nova Senha</label>
        </div>
    </div>

    <div class="col-sm-12 mb-3">
        <div id="danger-password" class="progress d-none" style="height: 5px" role="progressbar"
             aria-label="Senha fraca" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger w-25"></div>
        </div>
        <div id="warning-password" class="progress d-none" style="height: 5px" role="progressbar"
             aria-label="Senha média" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-warning w-50"></div>
        </div>
        <div id="information-password" class="progress d-none" style="height: 5px" role="progressbar"
             aria-label="Senha boa" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-info w-75"></div>
        </div>
        <div id="success-password" class="progress d-none" style="height: 5px" role="progressbar"
             aria-label="Senha forte" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success w-100"></div>
        </div>
        <div id="password-feedback" style="font-size: 0.7rem;"></div>
    </div>

    <div class="col-sm-12 text-start">
        <button type="submit" class="btn btn-primary">
            Confirmar
        </button>
    </div>
</div>
